<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Bienvenido a Building Words</h1>
<form action = "/jugar" method = "post">
	<input type="submit" value="Jugar">
</form>
</body>
</html>
