<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Seleccione el Nivel</h1>
	<form action="/Nivel" method="post">
<select name="Nivel">
	<option value="N1">Nivel 1</option>
	<option value="N2">Nivel 2</option>
</select>
<input type="submit" value="Iniciar">
</form>
</body>
</html>